

.quote-1{
    background-color: hsl(263, 55%, 52%);
    padding: 20px;
    border-radius: 2%;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 130px 130px;
    background-position: right 20% top 3%;
    color: hsla(300, 24%, 96%, 0.514);;
    font-family: 'Barlow Semi Condensed';
    grid-column: 1/3;
}

.quote-2{
    background-color: hsl(217, 19%, 35%);
    padding: 20px;
    border-radius: 2%;
    color: hsla(300, 24%, 96%, 0.473);
    font-family: 'Barlow Semi Condensed';
}

.quote-3{
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 2%;
    color: hsl(217, 19%, 35%);  
    font-family: 'Barlow Semi Condensed';
    grid-column: 4;
    grid-row: 1/3; 
    
}


.quote-4{
    background-color: hsl(219, 29%, 14%);
    padding: 20px;
    border-radius: 2%;
    font-family: 'Barlow Semi Condensed';
    color: hsla(300, 24%, 96%, 0.61);
    grid-column: 2/4;
    grid-row: 2;
}

.quote-5{
    
    background-color:  hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 2%;
    font-family: 'Barlow Semi Condensed';
    color: hsl(217, 19%, 35%);
    
    
}



.top-para{
    font-size: x-large;
    color: white;
    font-family: 'Barlow Semi Condensed';
    margin: .3em;
}   

.top-para1{
    font-size: x-large;
    margin: .3em;
    color: hsl(217, 19%, 35%);
    margin: .5em auto;
    font-family: 'Barlow Semi Condensed';
}

.top-para2{
    font-size: x-large;
    margin: .3em;
    
    font-family: 'Barlow Semi Condensed';
}

.quote-3 p{
  color: hsl(217, 19%, 35%);
}

.quote-5 p{
    color: hsl(217, 19%, 35%);
}

h1{
    font-size: medium;
    
}

.quote-1 h1{
  color: white;
}

.quote-2 h1{
    color: white;
}

.quote-4 h1{
    color: white;
}

span{
    font-size:small;
    color: hsla(300, 24%, 96%, 0.616);
}

.flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}

img{
    border: 2px solid white;
     border-radius: 50%;
}

.quote-4 img{
    border: 2px solid blue;
}


article{
    max-width: 1280px;
    margin-bottom: 10px;

}

body{
    background:  hsl(300, 24%, 96%);
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

@media(max-width: 1200px){

    body{
        display: grid;
        place-content: center;
    }
    .main{
        grid-template-columns: repeat(1, 1fr);
        width: 30em;
        grid-gap: 1em;
    }

    .quote-1{
        grid-row: 1/3;
        width: 21em;
        background-size: 120px 120px;
    }

    .quote-2{
        grid-row: 3;
        grid-column: 1;
        width: 21em;
    }

    .quote-3{
        grid-row: 6;
        grid-column: 1;
        width: 21em;
    }

    .quote-4{
        grid-row: 5;
        grid-column: 1;
        width: 21em;
    }

    .quote-5{
        grid-row: 4;
        grid-column: 1;
        width: 21em;
    }
}